extends layout
block head
	link(rel="stylesheet", href="stylesheets/main.css")

block content
	div#game


	script(type="text/javascript" src="javascripts/lib/three.min.js")
	script(type="text/javascript" src="javascripts/lib/stats.min.js")
	script(type="text/javascript" src="/socket.io/socket.io.js")
	script(type="text/javascript" src="javascripts/game.js")
